# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
.DS_Store
build/
output/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
Pods/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
envVars.properties

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/Appfile
fastlane/Deliverfile
.idea/.name
.idea/encodings.xml
.idea/git.iml
.idea/modules.xml
.idea/vcs.xml
.idea/xcode.xml
.idea/runConfigurations/Arvest.xml
.idea/runConfigurations/Arvest_CT.xml
.idea/runConfigurations/Arvest_DEV.xml
.idea/runConfigurations/Arvest_QA.xml
Project.xml
.idea
